#divMenu, ul, li, li li {
    margin: 0;
    padding: 0;
}
 
#divMenu {
    width: 150px;
    height: 27px;
}
 
#divMenu ul
{
     line-height: 25px;
}
 
    #divMenu li {
        list-style: none;
        position: relative;
        background: #641b1b;
    }
 
        #divMenu li li {
            list-style: none;
            position: relative;
            background: #641b1b;
            left: 148px;
            top: -27px;
        }
 
 
    #divMenu ul li a {
        width: 148px;
        height: 25px;
        display: block;
        text-decoration: none;
        text-align: center;
        font-family: Georgia,'Times New Roman',serif;
        color:#ffffff;
        border:1px solid #eee;
    }
 
    #divMenu ul ul {
        position: absolute;
        visibility: hidden;
        top: 27px;
    }
 
    #divMenu ul li:hover ul {
        visibility: visible;
    }
 
    #divMenu li:hover {
        background-color: #C43232;
    }
 
    #divMenu ul li:hover ul li a:hover {
        background-color: #B12525;
    }
 
    #divMenu a:hover {
        font-weight: bold;
    }